@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Exo 2", serif;
}
body {
    background:linear-gradient(270deg,#010313,#010313,#080821,#300C34);
    overflow: hidden;
}
.container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px 20px;
}
.signup-title {
    width: 120px;
}
.login-title {
    width: 90px;
}
.typewriter {
    color: #EAAAFF;
    overflow: hidden;
    border-right: 2px solid #8D56E1; 
    white-space: nowrap; 
    animation: 
      typing2 0.8s steps(10, end),
      blink-caret2 .5s step-end infinite;
  }
@keyframes typing2 {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink-caret2 {
    from, to { border-color: transparent }
    50% { border-color: #8D56E1 }
  }
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 1px 1px 20px #8D56E1;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #080927;
}
.input-field {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131237;
    border-radius: 8px;
}
.input-field:focus-within {
    outline: 2px solid #8D56E1;
}
.input-field button {
    background: transparent;
    cursor: pointer;
    border: none;
    color:#EAAAFF;
    font-size: 18px;
    padding: 0 10px;
}
.input-field input {
    color: white;
    font-size: 16px;
    padding: 15px 10px;
    width: 95%;
    border-radius: 8px;
    border: none;
    background: transparent;
}
.input-field input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(1000deg);
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.input-field input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
input[type="date"]::-webkit-datetime-edit {
    color:#EAAAFF;
    padding: 0 10px;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 0 10px;
    color:#EAAAFF;
    font-size: 16px;
    pointer-events: none;
    background-color: #131237;
    transition: all 0.2s;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    color:#EAAAFF;
    font-size: 14px;
    pointer-events: none;
}
.input-field input:focus {
    outline: none;
}
.input-field input[type="date"]:focus::-webkit-datetime-edit {
    opacity: 1;
}
.input-field img {
    margin: 0px 10px 0px 20px;
    width: 25px;
    height: auto;
}
.input-field .phone{
    left: 50px;
    background:transparent;
}
.input-field input[type='number'] {
    padding-left: 50px;
}
form .submit-btn {
    width: 100%;
    padding: 10px 25px;
    font-weight: bold;
    color: white;
    background-color: #080723;
    border: 2px solid #8D56E1;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.login-link {
    color: white;
    display: flex;
    gap: 10px;
}
.login-link a{
    color: #8D56E1;
}
.signup-link {
    color: white;
    display: flex;
    gap: 10px;
}
.signup-link a{
    color: #8D56E1;
}
/* Responsive */
@media only screen and (max-width: 768px) {
    .container {
    width: 95%;
}
}

.homepage-title {
    width: 420px;
    margin: 30px auto;
}
.typewriter2 {
    margin: 0 auto;
    color: #EAAAFF;
    overflow: hidden;
    border-right: 2px solid #8D56E1; 
    white-space: nowrap; 
    animation: 
      typing3 2.5s steps(40, end),
      blink-caret3 .5s step-end infinite;
  }
@keyframes typing3 {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink-caret3 {
    from, to { border-color: transparent }
    50% { border-color: #8D56E1 }
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    font-size: 22px;
    background-color: #EAAAFF;
    border-radius: 50px;
    margin: 0 50px;
}
ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}
li a {
    color:#010313;
    text-decoration: none;
}
li a:hover {
    color:#8D56E1;
    text-decoration: none;
}
.logout-btn i {
    color:#010313;
}
.logout-btn i:hover {
    color:red;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 20px 20px;
        font-size: 16px;
        margin: 0 10px;
    }
    ul {
        gap: 15px;
    }
    .homepage-title {
        width: 320px;
    }
    .typewriter2 {
        font-size: 24px;
        animation: 
          typing3 2.5s steps(30, end),
          blink-caret3 .5s step-end infinite;
      }
}